/* ------------------------------ */
/* CSS For Jona Ward Landing Page */
/* ------------------------------ */

/* Global Styles */
body {
  background-color: #D95E52;
  margin: 0 auto;
  font-size: 16px;
}


/* Everything Else */

/* --- Header Styles --- */

#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

#nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #F2CF63;
}

#nav-bar a {
  text-decoration: none;
  color: #8C0436;
  font-size: 2rem;
}

/* Jona Header Image */
#header-image {
  margin-top: .25rem;
  width: 30vh;
  height: auto;
}

#header-img {
  width: 100%;
  border-radius: 10%;
}


/* --- Main Section Styles --- */
main {
  margin: 3.75rem 9.75rem 28rem 9.75rem;
  background-color: #F2DC99;
  position: relative;
  top: 15.5rem;
}


/* ------ Banner Section Styles ------ */
#main-banner-sect {
  display: -webkit-box;
  grid-template-columns: auto;
  padding: 1.875rem 0rem 3.875rem 0;
  margin: 0 -5.25rem;
  background-color: #D95E52;
}

.banner {
  align-self: center;
}

#mosaic-banner img {
  border-radius: 2.5%;
}

img {
  width: 100%;
}


/* ------Video Section Styles ------ */
#video-demo-sect {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}


/* ------ Form Section Styles ------ */
#form-sect {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15rem;
}

#form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.25rem;

}


/* --- Footer Section --- */
footer {
  display: grid;
  grid-template-columns: auto;
  color: #F2CF63;
  font-size: 1.5rem;
  background-color: #8C0436;
  margin: 0 auto;
  position: relative;
  bottom: 0rem;
}

#footer-group {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#footer-image {
  width: 100%;
}

#footer-image img {
  border-radius: 10%;
}

#footer-links {
  display: flex;
  flex-direction: column;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-link {
  padding: 1.5rem;
}

footer a {
  text-decoration: none;
  color: #F2CF63;
  font-size: 1.5rem;
}

@media only screen and (max-width: 1435px) {
  #main-banner-sect {
    padding: 1.875rem 0rem 3.875rem 0;
  }

  #nav-bar a {
    font-size: 2.2rem;
  }

  #header-image {
    width: 26vh;
  }
}
