/* ------------------------------ */
/* CSS For Jona Ward Landing Page */
/* ------------------------------ */

/* Global Styles */


/* Everything Else */

/* Header Styles */
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #F2CF63;
}

nav a {
  color: #BF6545;
}

#header-image {
  width: 35%;
  height: auto;
}

#jona-img {
  width: 100%;
  border-radius: 10%;
}

/* Main Section Styles */

/* Banner Styles */
#main-banner-sect {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #8C0436;
}

.banner-group {
  align-self: center;
}

#left-mosaic img {
  border-radius: 10% 2.5% 2.5% 10%;
}

#center-mosaic img {
  border-radius: 10%;
}

#right-mosaic img {
  border-radius: 2.5% 10% 10% 2.5%;
}

img {
  width: 100%;
}

main {
  /* display: flex;
  flex-direction: row;
  justify-content: center; */

}

#form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F2DC99;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #D95E52;
}

#footer-links {
  display: flex;
  flex-direction: column;
}

footer a {
  color: #F2CF63
}

@media query {

}
